@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vidaloka&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
}

.navigation {
  border: 5px solid rgba(57, 95, 128, 0.3);
  background-color: whitesmoke;
  font-family: "Acme", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation p a {
  color: #395f80;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation p a:hover {
  text-decoration: underline;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../img/fondo9.jpg");
  background-size: cover;
  font-family: "Vidaloka", serif;
}

.day .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
}

.day .add .add-content {
  margin: 1em;
  padding: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.day .add .add-content h1 {
  text-align: center;
}

.day .add .add-content p {
  text-align: justify;
}

.day .add .add-form {
  margin: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.day .add .add-form .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1em;
}

.day .add .add-form .date input[type="date"] {
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 3px  #345574 solid;
  height: 1.5rem;
}

.day .add .add-form .date input[type="checkbox"] {
  height: 2em;
}

.day .add .add-form .date .btn {
  width: 20%;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.5rem;
}

.day .add .add-form .date .btn button {
  width: 8rem;
  color: whitesmoke;
  border: transparent;
  text-decoration: none;
  background-color: #345574;
}

.day .add .add-form .date .btn button:hover {
  border: 3px  #345574 solid;
  color: black;
  background-color: transparent;
}

.day .add .add-form .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em;
}

.day .add .add-form .event textarea {
  margin-left: 1rem;
  border: 3px  #345574 solid;
  border-radius: 0.5rem;
}

.day .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  border: 2px solid black;
}

.day .table section {
  margin: 0.5em;
  width: 80%;
  border: 2px solid blue;
}

.day .table section .table-hover {
  width: 98%;
  margin: 0.5em;
  border: 2px solid red;
}

.day .table section .table-hover thead {
  margin: 0.5em;
  border: 2px solid aqua;
}

.day .table section .table-hover thead th {
  margin: 0.5em;
  border: 2px solid green;
}

.day .table section .table-hover tbody {
  margin: 0.5em;
  border: 2px solid purple;
}
/*# sourceMappingURL=main.css.map */